<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<link th:href="@{style.css}" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>LMS</title>
</head>
<body>
<h1>Library Management System</h1>
<hr> <!-- Horizontal Row -->
<h2>List of Books in Catalogue</h2>
<table id = "styled-table" border="1">
	<!-- tr: Table Row -->
	<tr>
		<!-- Table Header -->
		<th>Book ID</th>
		<th>Book Name</th>
		<th>Book Type</th>
		<th>Author</th>
		<th>Description</th>
		<th>Number of copies</th>
		<th>Borrow</th>
		
	</tr>
	<tr th:each="library : ${libraries}">
	<!-- table data -->
		<td th:text="${library.bookId}"></td>
		<td th:text="${library.bookName}"></td>
		<td th:text="${library.bookType}"></td>
		<td th:text="${library.bookAuthor}"></td>
		<td th:text="${library.bookDescription}"></td>
		<td th:text="${library.numberOfCopies}"></td>
		<td ><a th:href="@{'./borrowBooks?bId='+${library.bookId}}">Borrow Book</a></td>
		
		
	</tr>
</table>
<br><br>
<a href="./index">Go Back to Menu Page</a>
<br>
<br>
<a href="./LogoutPage">Logout</a>
<br>
<br>
<br>
<br>
<br>

<footer class="footer">

   <div class="footer-bottom">
   <p>Creators: </p>
       &copy; Group 2 Wiley Edge Team
   </div>

</footer>


</body>
</html>