<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LMS</title>
</head>
<body>
<h1>Library Management System</h1>
<hr> <!-- Horizontal Row -->
<h2>List of Books Borrowed</h2>

<table border="1">

	<!-- tr: Table Row -->
	<tr>
		<!-- Table Header -->
		<th>Transaction ID</th>
		<th>Book ID</th>
		<th>Book Type</th>
		<th>Issue Date</th>
		<th>Expected Return Date</th>
		<th>Number of Copies</th>
		<th></th>
	</tr>
	<form action="#" th:action="@{./returningBookButton}" th:object="${library}" th:method=post>
	<!--  <form action="./returningBookButton" object="${library}" method=post> -->
	<tr th:each="library2 : ${libraries}"><!-- add form -->
		
	<!-- table data -->
		<td th:text="${library2.transactionId}"><input th:field="*{library.transactionId}" value="${library2.transactionId}" readonly></td>
		<td th:text="${library2.bookId}"><input th:field="*{library.bookId}" value="${library2.bookId}" readonly></td><!-- input box editable false aand set  -->
		<td th:text="${library2.bookType}"><input th:field="*{library.bookType}" value="${library2.bookType}" readonly></td>
		<td th:text="${library2.issueDate}"><input th:field="*{library.issueDate}" value="${library2.issueDate}" readonly></td>
		<td th:text="${library2.expectedReturnDate}"><input th:field="*{library.expectedReturnDate}" value="${library2.expectedReturnDate}" readonly></td>
		<td th:text="${library2.numberOfCopies}"><input th:field="*{library.numberOfCopies}" value="${library2.numberOfCopies}" readonly></td>
		<td ><input type="submit" class="button button1" value="Borrow Book"/></td> <!-- if js not allowed we can add here separated by ; -->
		<!-- each row is a form and the text fields are uneditable -->
		
	</tr>
	</form>
</table>

<br><br>
<h2 th:text="${message}"></h2>
<h2 th:text="${latefee}" style="color: red"></h2>
<br><br>
<a href="./index">Back to Menu</a>
<br>
<br>
<br>
<br>
<br>
<br>

<footer class="footer">

   <div class="footer-bottom">
   <p>Creators: </p>
       &copy; Group 2 Wiley Edge Team
   </div>

</footer>
</body>
</html>