<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<link th:href="@{style.css}" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>LMS</title>
</head>
<body>
<h1>Library Management System</h1>
<hr>
<h3 th:text="'Welcome '+${session.employee.employeeName}+'!'"></h3>
<hr>
<h4 th:text="'You have '+${session.employee.bookQuantity}+' books borrowed at the moment.'"></h4>
<br>
<div class="card">
	<a href="./viewCatalogue">Borrow Book</a><br><br>
</div>
<!-- NAT HERE -------------------------------------- -->
<div class="card">
	<a href="./returnBook">Return Book</a><br><br>
</div>
<!-- ----------------------------------------------- -->
<div class="card">
	<a href="./viewBorrowedBooks">View Borrowed Books</a><br><br>
</div>
<div class="card">
	<a href="./viewCatalogue">View Library Catalogue</a><br><br>
</div>


</body>
</html>