<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org/%22%3E">
<head>
<meta charset="ISO-8859-1">
<title>LMS</title>
</head>
<body>
<h1>Library Management System</h1>
<form action="#" th:action="@{./login}" th:object="${employee}" th:method=post> <!-- changed to post to hide info in url -->
    Enter Employee ID : <input type="text" th:field="${employee.employeeId}"><br><br>
    Enter Password : <input type="password" th:field="${employee.password}">
    <input type="submit" value="Login">
</form>
<br><br>
<h2 th:text="${message}" style="color: red"></h2>
</body>
</html>