<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<link th:href="@{style.css}" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>LMS</title>
</head>
<body>
<!-- <img th:src="@{library.jpg}" alt="British Library" class="banner"> -->
<h1 class="title" border="1">Library Management System</h1>
	
	<h2 class= "logout"> Logged Out</h2>
	<p>Thank you for using <b>LMS</b></p>
	
	<a href="./">Sign in Again</a>
	
<br>
<br>
<br>
<br>
<br>
<br>

<footer class="footer">

   <div class="footer-bottom">
   <p>Creators: </p>
       &copy; Group 2 Wiley Edge Team
   </div>

</footer>
</body>
</html>
