<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<link th:href="@{style.css}" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>LMS</title>
</head>
<body>
<h1>Library Management System</h1>
<hr> <!-- Horizontal Row -->
<h2>Return a book</h2>
<br>
<!-- need to change from returnBook to a new requestMapping method -->
<form action="./searchReturnBook" th:method=get>
	Type of Book : <input type="text" name="bookType" required><br><br>
    Issue Date : <input type="date" name="issueDate" required>
    <input type="submit" value="Search">
</form>
<br>
<table id="styled-table" border="1">
	<!-- tr: Table Row -->
	<tr>
		<!-- Table Header -->
		<th>Book ID</th>
		<th>Book Type</th>
		<th>Issue Date</th>
		<th>Expected Return Date</th>
		<th>Number of Copies</th>
		<th>Return</th>
	</tr>
	<tr th:each="library : ${libraries}">
	<!-- table data -->
		<td th:text="${library.bookId}"></td>
		<td th:text="${library.bookType}"></td>
		<td th:text="${library.issueDate}"></td>
		<td th:text="${library.expectedReturnDate}"></td>
		<td th:text="${library.numberOfCopies}"></td>
		<td><a th:href="@{'./returningBookButtonFromSearchBorrowedBooks?tId='+${library.transactionId}}" class = "button button1">Return Book</a></td>
</table>
<br>
<h3 th:text="${message}"></h3>
<br>
<h2 th:text="${message2}"></h2>
<h2 th:text="${bookDetails}"></h2>
<h2 th:text="${latefee}" style="color: red"></h2>
<br>
<a href="./index">Back to Menu</a>
<br>
<br>
<a href="./LogoutPage">Logout</a>
<br>
<br>
<br>
<br>

<footer class="footer">

   <div class="footer-bottom">
   <p>Creators: </p>
       &copy; Group 2 Wiley Edge Team
   </div>

</footer>
</body>
</html>