@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
}

html, body {
	height: 100vh;
	width: 100vw;
}

body {
	background-color: #2F4F4F;
	color: #F1ECE4;
	text-align: center;
}

a {
	text-decoration: none;
}

button, a, input {
	background-color: #dfdfdf;
	padding: 4px;
	border-radius: 4px;
	color: black;
}

button:hover, a:hover, input[type="submit"]:hover {
	background-color: #bfbfbf;
	cursor: pointer;
}

button:active, a:active, input[type="submit"]:active {
	background-color: #afafaf;
}

.banner {
	width: 100%;
	height: 70%;
	object-fit: cover;
}

.title {
	position: absolute;
    top: 40%;
    left: 12px;
    transform: translateY(-50%);
    color: #F1ECE4;
    font-size: 48px;
    text-shadow: 2px 2px #2F4F4F;
}

.container {
	display: flex;
	justify-content: center;
}

.login-form {
	display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-form-element {
	display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;	
}

#styled-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin: 18px
}

#styled-table td, #styled-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#styled-table tr:nth-child(even){background-color: #192121;}

#styled-table tr:hover {background-color: #ddd; color: black;}


#styled-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #98b5ab;
  color: white;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}
.menu {
    display: flex;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;

}

.menu a {
    padding-top: 50px;
    margin-left: 8px;
    margin-right: 8px;
    height: 180px;
    width: 160px;
}